**PYSPARK CODING CHALLENGE**

DAY 12:23/06/25
SUBMITTED BY:YUVASHRI S

Install and Setup PySpark

In [11]:
!pip install -q pyspark

Importing Required Modules and Creating SparkSession

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, dense_rank, sum, avg, mean
from pyspark.sql.window import Window

# Initialize Spark
spark = SparkSession.builder.master("local[*]").appName("PySparkExamples").getOrCreate()

Question 1:  
Given a DataFrame with employee details, calculate the Rank based on Salary for each Department. Use dense_rank() as the ranking function.

In [3]:
data1 = [("Alice", "HR", 5000), ("Bob", "Finance", 7000),
         ("Cathy", "HR", 4500), ("David", "Finance", 8000)]
columns1 = ["Name", "Department", "Salary"]

df1 = spark.createDataFrame(data1, columns1)

windowSpec = Window.partitionBy("Department").orderBy(col("Salary").desc())
ranked_df = df1.withColumn("Rank", dense_rank().over(windowSpec))
ranked_df.show()

+-----+----------+------+----+
| Name|Department|Salary|Rank|
+-----+----------+------+----+
|David|   Finance|  8000|   1|
|  Bob|   Finance|  7000|   2|
|Alice|        HR|  5000|   1|
|Cathy|        HR|  4500|   2|
+-----+----------+------+----+

Question 2:  
Given the following DataFrame, write a PySpark code to:
1. Calculate the total Sales and average Discount for each Category.

In [4]:

data2 = [("Electronics", 1000, 0.1),
         ("Clothing", 500, 0.2),
         ("Electronics", 700, 0.15),
         ("Clothing", 300, 0.25)]
columns2 = ["Category", "Sales", "Discount"]

df2 = spark.createDataFrame(data2, columns2)

# GroupBy and Aggregate
agg_df = df2.groupBy("Category") \
            .agg(
                sum("Sales").alias("TotalSales"),
                avg("Discount").alias("AvgDiscount"))

agg_df.show()

+-----------+----------+-----------+
|   Category|TotalSales|AvgDiscount|
+-----------+----------+-----------+
|Electronics|      1700|      0.125|
|   Clothing|       800|      0.225|
+-----------+----------+-----------+

Question 2:
Given the following DataFrame, write a PySpark code to:
2. Filter the results to show only categories with total sales greater than 1000.

In [5]:
# Filter aggregated results
filtered_df = agg_df.filter(col("TotalSales") > 1000)
filtered_df.show()

+-----------+----------+-----------+
|   Category|TotalSales|AvgDiscount|
+-----------+----------+-----------+
|Electronics|      1700|      0.125|
+-----------+----------+-----------+

Question 3:  
Write a PySpark code to fill missing values in the Age column with the mean age, and fill missing values in the Name column with "Unknown".

In [6]:
data3 = [("Alice", 25), (None, 30), ("Cathy", None), (None, None)]
columns3 = ["Name", "Age"]

df3 = spark.createDataFrame(data3, columns3)

# Compute mean of 'Age'
mean_age = df3.select(mean("Age")).first()[0]

filled_df3 = df3.fillna({"Age": mean_age, "Name": "Unknown"})
filled_df3.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|Unknown| 30|
|  Cathy| 27|
|Unknown| 27|
+-------+---+

Question 4:  
Given the following DataFrame, filter rows where Age greater than 25 and show the result.

In [7]:
data4 = [("Alice", 25), ("Bob", 30), ("Cathy", 28)]
columns4 = ["Name", "Age"]

df4 = spark.createDataFrame(data4, columns4)
filtered_df4 = df4.filter(col("Age") > 25)
filtered_df4.show()

+-----+---+
| Name|Age|
+-----+---+
|  Bob| 30|
|Cathy| 28|
+-----+---+

Question 5:  
Add a new column named AgeAfter5Years that calculates the age of each person after 5 years.

In [8]:
df5 = spark.createDataFrame(data4, columns4)  # reuse previous df
df5 = df5.withColumn("AgeAfter5Years", col("Age") + 5)
df5.show()

+-----+---+--------------+
| Name|Age|AgeAfter5Years|
+-----+---+--------------+
|Alice| 25|            30|
|  Bob| 30|            35|
|Cathy| 28|            33|
+-----+---+--------------+

Question 6:  
Join the following two DataFrames on the ID column and display the result.

In [9]:
data1 = [(1, "Alice"), (2, "Bob"), (3, "Cathy")]
columns1 = ["ID", "Name"]

data2 = [(1, "HR"), (2, "Finance"), (4, "IT")]
columns2 = ["ID", "Department"]

df1 = spark.createDataFrame(data1, columns1)
df2 = spark.createDataFrame(data2, columns2)

joined_df = df1.join(df2, on="ID", how="inner")
joined_df.show()

+---+-----+----------+
| ID| Name|Department|
+---+-----+----------+
|  1|Alice|        HR|
|  2|  Bob|   Finance|
+---+-----+----------+

Question 7:  
Create a temporary SQL view from the following DataFrame and run a query to select all employees from the "HR" department.

In [10]:
data7 = [("Alice", "HR", 5000), ("Bob", "Finance", 7000), ("Cathy", "HR", 4500)]
columns7 = ["Name", "Department", "Salary"]

df7 = spark.createDataFrame(data7, columns7)

# Create temporary view
df7.createOrReplaceTempView("employees")

# SQL query
result = spark.sql("SELECT * FROM employees WHERE Department = 'HR'")
result.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
|Alice|        HR|  5000|
|Cathy|        HR|  4500|
+-----+----------+------+